header {
    height: 100px;
    line-height: 100px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: transparent;
    transition: all 0.4s;
  }
  
  header a .logo {
    display: inline-block;
    float: left;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul li {
    display: inline-block;
    margin-left: -2px;
  }
  
  header nav ul li a {
    color: #fff;
    transition: all 0.2s;
    padding: 0px 12px;
    text-align: center;
    display: block;
    margin-left: -3px;
    font-weight: 600;
  }
  
  header nav ul li:nth-last-child(1) a {
    padding-right: 0px;
  }
  
  header nav ul li a.home.current {
    color: #c5c5c5 !important;
  }
  
  header nav ul li a.current {
    color: #8a8a8a !important;
  }
  
  header nav ul li a:focus {
    color: #ddd;
  }
  
  .slicknav_menu {
    display: none;
    height: 80px;
    background-color: #fff;
  }

  /* ---------------------- */

  .welcome-area {
    height: 100vh;
  }

  .welcome-area .snow-bg {
    position: relative;
    background-size: cover !important;
    background: url("");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 2;
  }

  .welcome-area .bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  .welcome-overlay {
    width: 45%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .welcome-overlay::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 40vh;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 100%;
  }
  
  .welcome-area #particles-js {
    width: 100%;
    height: 99%;
    position: absolute;
    z-index: 4;
  }
  
  .welcome-area .video-bg {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  
  .welcome-area .video-bg .bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  .welcome-text {
    color: #fff;
    position: relative;
    z-index: 5;
  }
  
  .welcome-text h1,
  .welcome-text #typed,
  .welcome-text .typed-cursor {
    font-size: 48px;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    line-height: 52px;
  }
  
  .welcome-text p {
    color: #fff;
    max-width: 500px;
    margin-bottom: 35px;
  }
  .welcome-text #typed span {
    font-weight: 700;
  }
  
  .welcome-area .type-wrap {
    margin-bottom: 35px;
    margin-top: 50px;
  }
  
  .welcome-area #typed {
    white-space: normal;
  }
  
  .welcome-text .social-icons a {
    color: #fff;
    font-size: 16px;
    padding: 0px 8px;
  }
  
  .welcome-text .social-icons a:hover {
    color: #c2bfbf;
  }
  .welcome-text .social-icons {
    margin-bottom: 50px;
  }
  
  .welcome-text a {
    margin: 0px 5px;
  }
  

  /*------------------About-----------------*/
.about h4 {
  text-align: left;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 800;
}

.about .title-small {
  text-align: left;
}

.about-text {
  margin-bottom: 40px;
}
.about-img {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}
.about-img img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.about .img-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
  visibility: hidden;
  transition: all 0.5s;
  transform: scale(0);
}
.about .img-overlay::before {
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 18px;
  left: 18px;
}

.about .img-overlay::after {
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  bottom: 18px;
  right: 18px;
}

.about-img:hover .img-overlay {
  visibility: visible;
  transform: scale(1);
}

.about .about-text {
  padding-right: 30px;
}

.about .skills {
  max-width: 80%;
}

.about .skills-content .progressbar-area h6 {
  margin-bottom: 21px;
  font-weight: 500;
  color: #6e6e6e;
  font-size: 15px;
}

.about .skills .progress-bar {
  background-color: #000;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  padding-top: 0;
  padding-left: 10px;
  text-align: left;
  color: #fff;
  box-shadow: none;
  font-size: 10px;
  line-height: 20px;
}

.about .skill-category {
  max-width: 80%;
  margin: 0 auto;
}

.about .skills .progress {
  overflow: visible;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  background: #d7d7d7;
  box-shadow: none;
  font-weight: 400;
}
.about .skills .progressbar-area h6 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 15px;
  color: #333;
}

.about .skills .progress-bar {
  width: 0%;
}
.about .skills .progress-bar span {
  position: absolute;
  top: -28px;
  right: -6px;
  display: inline-block;
  min-width: 25px;
  height: 22px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: 0;
  color: #fff;
  background-color: #333;
  line-height: 21px;
  width: 36px;
}

.about .skills .progress-bar > span::before {
  position: absolute;
  bottom: -4px;
  left: 12px;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
  background-color: #333;
}

/*-------------services section---------------*/

.service {
  background: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.service .service-content {
  padding-top: 28px;
}

.service-header p {
  text-align: left;
  padding-right: 16px;
  color: #fff;
}

.service-header a {
  margin-top: 24px;
}

.service .section-title {
  text-align: left;
  padding-bottom: 24px;
  text-align: left;
  margin: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-weight: 800;
  color: #fff;
}
.service .item {
  margin-left: 20px;
  background: #fff;
  padding: 20px;
}
.service-item {
  background: #fff;
  padding: 11px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.service .content-title {
  font-weight: 700;
  font-size: 16px;
  color: #424242;
  margin-bottom: 8px;
}

.service-item span {
  width: 62px;
  height: 62px;
  border: 2px solid rgba(101, 101, 101, 0.4);
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 12px;
  background: #fcfcfc;
  transition: all 0.5s;
  margin-top: 6px;
}
.service-item i {
  color: #363636;
  line-height: 62px;
  font-size: 20px;
  transition: all 0.5s;
}
.service-item:hover span {
  width: 62px;
  height: 62px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: #000;
  cursor: pointer;
}

.service-item:hover i {
  color: #fff;
}

.service .owl-theme .owl-dots .owl-dot span {
  border-radius: 0px;
}
.service .owl-stage-outer {
  margin-bottom: 36px;
  text-align: center;
}

.service .owl-theme .owl-nav [class*="owl-"] {
  color: #000;
  padding: 4px 11px;
  background: #fff;
  border-radius: 0px;
}
